h1 {
  padding: 0px 10px;
  margin: 15px 0px;
}

form {
  margin: 5px;
}

form input {
  width: 30px;
  height: 30px;
  font-size: 25px;
  margin: 3px;
}

.grid-container.up {
  display: grid;
  grid-template-columns: 150px repeat(2, 80px);
  font-size: 18px;
  align-items: stretch;
  grid-template-rows: repeat(9, 43px);
  margin-bottom: 5px;
}
.grid-container.down {
  display: grid;
  grid-template-columns: 150px repeat(2, 80px);
  font-size: 18px;
  align-items: stretch;
  grid-template-rows: repeat(7, 43px);
  margin-bottom: 5px;
}

.score-total {
  grid-template-rows: 50px;
}

.grid-container > div {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.categories {
  color: rgba(0, 0, 0, 1);
}

.categories.etc {
  background-color: rgba(69, 69, 255, 0.3);
  color: black;
  font-weight: bold;
  font-size: larger;
}

.score {
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.7);
}

.active {
  cursor: pointer;
}

.confirmed {
  color: black;
  font-weight: bold;
}

.gameNumber1 {
  background-color: rgba(69, 69, 255, 0.212);
}

.total,
.subtotal,
.bonus {
  background-color: rgba(69, 69, 255, 0.212);
  color: black;
  font-weight: bold;
  justify-content: flex-end;
  font-size: larger;
}

.description {
  font-size: 16px;
}

i {
  margin-right: 5px;
}

.description i {
  margin-left: 5px;
}

.gameNumber {
  font-size: 16px;
}

button {
  background-color: #f8585b;
  border: none;
  color: #fff;
  padding: 5px 135px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 0em;
}

#dice {
  display: flex;
  border: 1px solid black;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  margin: 0 12px 0 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diceform {
  display: flex;
  flex-direction: row;
}

/* dice */
.dice-container {
  display: flex;
}

.dice {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}

.dice-dot {
  --top: 0%;
  --left: 0%;

  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;

  /* 점의 위치 (Dot Positoning) */
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translateX(calc(var(--left) * -1))
    translateY(calc(var(--top) * -1));
}

.btn-roll-dice {
  margin-top: 10px;
}

.dice.lock {
  border: 1px solid red;
}

#modal.modal-overlay {
  width: 100%;
  height: 140%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal.modal-window {
  background: rgba(69, 139, 197, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 400px;
  height: 400px;
  position: relative;
  top: -100px;
  padding: 10px;
}

#modal.content {
  margin-top: 10px;
  padding: 0px 10px;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px gray;
  color: black;
}

#modal.result {
  margin-top: 115px;
  padding: 0px 10px;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#restart {
  background-color: #f8585b;
  border: none;
  color: #fff;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 0em;
}

#end {
  background-color: #f8585b;
  border: none;
  color: #fff;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 0em;
}

.description{
    white-space:nowrap;
}